.container {
height: 178px;
width: 1336px;
display: flex;
align-items: center;
flex-direction: column;
margin-bottom: 48px;
}
.text-a {
color: #282828;
font-size: 16px;
font-family: 'Inter-regular';
margin-top: 80px;
margin-bottom: 4px;
}
.text-b {
color:#282828;
font-size: 54px;
font-family: 'Inter-semiBold';
}
.text-c {
width: 760px;
text-align: center;
color: #282828;
font-size: 20px;
font-family: 'Inter-regular';
margin-top: 16px 288px 0px 288px;
}
/* section */

.section-box {
height: 908px;
width: 1336px;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.box {
Width: 310px;
Height: 430px;
margin: 8px;
}

.title-a {
color: #282828;
font-size: 18px;
font-family: 'Inter-semiBold';
padding: 16px 16px 4px 16px;
}
.title-b {
color: #3E3E59;
font-size: 14px;
font-family: 'Inter-regular';
padding-bottom: 8px;   
padding-left: 16px;
padding-right: 16px; 
}
.text-s-a {
color: #5F6980;
font-size: 14px;
font-family: 'Inter-regular';
width: 278px;
padding-left: 16px;
padding-right: 16px;
}

.icon-a {
    padding-left: 16px;
    padding-top: 24px;
}
/* footer */
.footer-main   {
width: 1654px;
margin: 0 auto;
}
.footer-box {
display: flex;
justify-content: center;
flex-wrap: wrap;
width: 1654px;
height: 512px;
background-color: rgba(83, 83, 83, 0.33);
}
.box-f-1 {
width: 318px;
height: 221px;
margin-top: 108px;
margin-right: 144px; 
}

.box-f-2 {
width: 136px;
height: 223px;
margin-top: 108px;
margin-right: 254px;
}

.box-f-3{
width: 199px;
height: 223px;
margin-top: 108px;
margin-right: 147px;
}
.box-f-4{
width: 107px;
height: 221px;
margin-top: 108px;
}
.title-f{
padding-top: 32px;
padding-bottom: 30px;
font-size: 14px;
color: #535353;
font-family: 'Inter-regular';
}
.title-f-2{
font-size: 20px;
font-family: 'Inter-regular';
margin-bottom: 71px;
}
.nav-li{
padding-bottom: 48px;
color: #1E1E1E;
}

.nav-a{
color: #535353;
font-size: 14px;
font-family: 'Inter-regular';
}
.box-en {
width: 80px;
height: 45px;
padding: 14px 16px 14px 16px;
background-color:   #054A68;
text-align: center;
font-size: 14px;
color: #ffffff;
font-family: 'Inter-regular';
}