.container {
height: 178px;
width: 1336px;
display: flex;
align-items: center;
flex-direction: column;
}
.text-a {
color: #282828;
font-size: 16px;
font-family: 'Inter-regular';
margin-top: 80px;
margin-bottom: 4px;
}
.text-b {
color:#282828;
font-size: 54px;
font-family: 'Inter-semiBold';
}
.text-c {
width: 760px;
text-align: center;
color: #282828;
font-size: 20px;
font-family: 'Inter-regular';
margin-top: 16px 288px 0px 288px;
}